# Virtual environment
.venv/
venv/
ENV/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
.cache
.cache/

# IDE & OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# Auto EQ recovery files & cache
.auto_eq_audio_recovery.json
.spotipystatcache
